@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes bounce-in {
    0% {
      opacity: 0;
      transform: scale(0.5);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  
  .animate-bounce-in {
    animation: bounce-in 0.4s ease-out;
  }
}